* {
    font-family: "Open Sans", sans-serif;
}

/* do not change color of link if visited */
a {
    color: #0000EE;
}

h1.title,h2.title,h3.title,h4.title,h5.title,h6.title {
    font-size: 1.5em;
    font-weight: bold;
}

h3.author {
    font-size: 1em;
    font-weight: normal;
}

p.title {
    font-size: 1em;
}

div.toc {
    font-size: 1em;
}

/* set this so list numbers in nested lists are not vertical-align center */   
table.orderedlist tbody tr td {
    vertical-align: top;
}

/* set this to prevent each level of dd moving further right */
dd {
    margin-left: 0px;
}
