* {
    font-family: "Open Sans", sans-serif;
}

a {
    color: #0000EE;
}

*.title {
    font-size: 1.5em;
}

p.title {
    font-size: 1em;
}

div.toc p {
    font-size: 1.5em;
}

span.chapter {
    font-size: 1.5em;
}

span.section {
    font-size: 1.5em;
}

table.orderedlist tbody tr td {
    vertical-align: top;
}
